.cv-body {
  margin: 1em;
  font-size: 120%;
  box-shadow: 4px 4px 8px rgb(74, 74, 88);
  padding: 5px;
}

.cv-header {
  background-color: #3bb9d8;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.1em;
}

.education,
.experience {
  padding-left: 3em;
  border-bottom: 1px solid gray;
}
